.issueBook{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.book{
    text-align: center;
    margin: 1%;
    background-color: aqua;
}

.error{
    color: red;
}

.success{
    color: green;
}