.addBook{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.book{
    text-align: center;
}

.item div{
    display: inline-block;
    width:10%;
    
}

.error{
    color: red;
}
.success{
    color: green;
}
